while문으로 Hello World를 10번 출력하시오.
(조건문에는 숫자형 변수를 포함하시오)

In [35]:
hw  = 0
while hw < 10:
      hw = hw +1
      print("Hello World")
      if hw == 10:
           break;

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

input()함수로 입력값을 받아 조건이 맞을 시 Hello World를 5번 출력하시오

In [1]:
hw=int(input())
while hw < 5:
      print("Hello World"*5)
      break;

4
Hello WorldHello WorldHello WorldHello WorldHello World

while True:로 시작하는 반복문을 Hello World 출력을 5번 반복 후 루프에서 빠져나가도록 작성하시오.

In [3]:
hw = 0
while True:
    print("Hello World")
    hw += 1

    if hw == 5:
        break;

Hello World
Hello World
Hello World
Hello World
Hello World

while 반복문을 사용하여 1부터 10까지 숫자를 출력할 때 짝수는 출력하지 않고 시작점으로 돌아가도록 작성하시오.

In [6]:
soo=0
while soo < 10:
    soo += 1
    if soo % 2 == 0:
        continue
    print(soo)

1
3
5
7
9

for 문을 이용하여 구구단 2단을 출력하시오

In [10]:
for i in range(1,10):
    print("2 x",i,"=",2*i)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

for 문을 이용하여 ['바나나', '사과', '수박']리스트의 요소를 순서대로 하나씩 출력하시오.

In [11]:
a=['바나나','사과','수박']
for i in a:
    print(i)

바나나
사과
수박

for문과 range 함수를 이용하여 -7에서 -3까지 출력하시오(range함수에는 음수가 들어가도록 하시오)

In [12]:
for i in range(-7,-2):
    print(i)

-7
-6
-5
-4
-3

for문과 range만을 이용하여 2부터 10까지 짝수만 출력하시오(반복문 내에서 연산 수행 x)

In [13]:
for i in range(2,11,2):
        print(i)

2
4
6
8
10

for문을 이용하여 Hello world 문자열을 한 글자씩 출력하시오

In [14]:
for i in "Hello world":
    print(i)

H
e
l
l
o

w
o
r
l
d

본인의 이름을 입력받아 내 이름은 ㅇㅇㅇ입니다를 반환하는 함수를 만드시오

In [26]:
def name ():
  name=input()
  print("내 이름은",name,"입니다")
name()

박우쟌
내 이름은 박우쟌 입니다

두 숫자를 입력하면 더하기 빼기 곱하기 나누기를 순서대로 출력하는 함수를 만드시오

In [31]:
a=int(input(print("두 숫자를 입력하세요(첫번째)")))
b=int(input(print("두 숫자를 입력하세요(두번째)")))
print(a+b)
print(a-b)
print(a*b)
print(a/b)

두 숫자를 입력하세요(첫번째)
None2
두 숫자를 입력하세요(두번째)
None3
5
-1
6
0.6666666666666666

입력의 수를 모르는 상태에서 입력을 모두 더하여 반환하는 함수를 만드시오

In [43]:
def sum_1():
    a = 0
    while True:
        b = input("숫자를 입력하세요 (종료하려면 'f' 입력): ")

        if b == 'f':
            break;

        a += int(b)

    return a

h = sum_1()
print("입력한 숫자의 합은:", h)

숫자를 입력하세요 (종료하려면 'f' 입력): 5
숫자를 입력하세요 (종료하려면 'f' 입력): 4
숫자를 입력하세요 (종료하려면 'f' 입력): f
입력한 숫자의 합은: 9

2개의 리스트를 입력받을 때 두 리스트의 길이가 같은지 불 자료형으로 반환하시오

In [48]:
def vs(list1, list2):
    return len(list1) == len(list2)

list1 = input("첫 번째 리스트를 입력하세요 (공백으로 구분): ").split()
list2 = input("두 번째 리스트를 입력하세요 (공백으로 구분): ").split()


result = vs(list1, list2)
print(result)

첫 번째 리스트를 입력하세요 (공백으로 구분): 4 5 6
두 번째 리스트를 입력하세요 (공백으로 구분): 5 7 8
True

두개의 리스트를 입력받고 위에서 만든 함수를 이용해 두 리스트의 길이가 같다고 판별되면 두 리스트를 이용하여 딕셔너리를 만들어 반환하는 함수를 만드시오

In [50]:
list3 = input("첫 번째 리스트를 입력하세요 (공백으로 구분): ").split()
list4 = input("두 번째 리스트를 입력하세요 (공백으로 구분): ").split()

if vs(list3, list4):
  new = dict(zip(list3, list4))
    print("생성된 딕셔너리:", new)
else:
    print("두 리스트의 길이가 다릅니다")

첫 번째 리스트를 입력하세요 (공백으로 구분): 3 4 5
두 번째 리스트를 입력하세요 (공백으로 구분): 5 8 9
생성된 딕셔너리: {'3': '5', '4': '8', '5': '9'}

글로벌 변수를 이용하여 plus() 함수가 수행될 때마다 변수에 5가 더해지도록 함수를 정의하시오

In [56]:
five = 0

def plus():
    global five
    five += 5
plus()
print(five)
plus()
five

5

10